<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <link href="favicon.ico" rel="icon" type="image/x-icon" />

    <title>{% block title %}RemoteJS{% endblock %}</title>
    <link rel="stylesheet" href="css/reset.css" type="text/css">
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="css/global.css" type="text/css">
    <link rel="stylesheet" href="css/sidr.css" type="text/css">
    {% block head %}{% endblock %}
</head>
<body>

<div class="spinner"></div>

    <div class="box">
        <div class="box-header">
            <h2><i class="fa fa-user fa-lg"></i>Choose a login</h2>
        </div>
        <div class="box-content">
            <form>
                <p><input type="text" name="login" id="login" placeholder="Username..." /></p>
                <p><input type="submit" value="Login" role="user-login" /></p>
            </form>
        </div>  
    </div>

    <section id="user-panel" class="panel panel-right">
        <ul class="users"></ul>
    </section>

    <section id="song-panel" class="panel panel-left">
        <div class="song-data">
            <h1>Song title</h1>
            <h3>Artist name</h3>

            <img src="/images/no-cover.png" alt="Song cover" title="Song cover" />

            <ul class="player-controls">
                <li><a href="#" title=""><i class="fa fa-backward fa-lg"></i></a></li>
                <li><a href="#" title=""><i class="fa fa-play fa-lg"></i></a></li>
                <li><a href="#" title=""><i class="fa fa-forward fa-lg"></i></a></li>
            </ul>
        </div>
    </section>

    <header class="navbar navbar-fixed">
        <div class="container">
            <a href="#song-panel" class="ui-btn-left" role="open-panel">Song</a>

            <a class="navbar-title" href="">RemoteJS</a>

            <a href="#user-panel" class="ui-btn-right" role="open-panel">Users</a>

            <div style="clear: both;"></div>

            <div class="search">
                <input type="text" name="search" class="search" />
            </div>
        </div>
    </header>

    <section id="content">
        {% block content %}{% endblock %}
    </section>

    <footer class="footer-fixed">
        <div class="container">
            <ul class="navigation">
                <li><a href="#songs" title="Songs" class="active" role="navigation">Songs</a></li>
                <li><a href="#artists" title="Artists" role="navigation">Artists</a></li>
                <li><a href="#albums" title="Albums" role="navigation">Albums</a></li>
            </ul>
        </div>
    </footer>

    <script type="text/javascript">ipAddress = '{{ ipAddress }}';</script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/jquery.blockUI.js"></script>
    <script type="text/javascript" src="js/core.js"></script>
    <script type="text/javascript" src="js/ui.js"></script>
    <script type="text/javascript" src="js/users.js"></script>
    <script type="text/javascript" src="js/music.js"></script>
    <script type="text/javascript" src="js/search.js"></script>
    {% block js %}{% endblock %}
</body>
</html>